@import 'src/assets/styles/variables.scss';

.app{
    z-index: -1;

    & > * {
        transition: ease all 300ms;
    }

    .flower{
        position: fixed;
        z-index: -2;
        border-radius: 50%;
        left: 20vw;
        background-color: $light;
    }

    .cloud{
        z-index: -2;
        position: fixed;
        width: calc(631px / 3);
        height: calc(350px / 3);

        path {
            fill: rgba($light, 0.2);
        }

        &.cloud-1{
            bottom: 60vh;
        }

        &.cloud-2{
            bottom: 70vh;
        }

        &.cloud-3{
            bottom: 50vh;
        }
    }

    .rect{    
        z-index: -1;
        position: fixed;
        // top: 0;
        left: -5vw;
        width: 120vw;
        height: 100vh;
        background-color: $dark;
        border-radius: 400px;
        transform: rotate(5deg);

        &::before{
            content: '';
            width: 120vw;
            height: 50vh;
            background-color: $dark;
            top: -5vh;
            left: -5vw;
            position: absolute;
            transform: rotate(-5deg);
            z-index: -1;
        }

    }

}

@media (max-width: 1200px){
    .app{

        .rect{
            height: 95vh;
            background-color: #796891;
            border-radius: 0;
            transform: rotate(0);
            background-image: linear-gradient(90deg, $dark 0%, $darken 100%);

            &::before{
                display: none;
            }
        }
    }
}