<div class="container">

    <section id="section__header">
        <stfy-home-header></stfy-home-header>
    </section>

    <section id="section__animated">
        <stfy-home-animated></stfy-home-animated>
    </section>

    <section id="section__quality">
        <stfy-home-quality></stfy-home-quality>
    </section>

    <section id="section__parallax">
        <stfy-home-parallax></stfy-home-parallax>
    </section>

    <section id="section__tools">
        <stfy-home-tools></stfy-home-tools>
    </section>

    <section id="section__footer">
        <stfy-home-footer></stfy-home-footer>
    </section>

</div>