@import 'src/assets/styles/variables.scss';

.container{

    .container__1{
        height: calc(100vh - 85px);
    }

    .container__2{
        height: 100vh;
    }

    .container__3{
        height: 60vh;
        background-color: rgba(lime, 0.2);
    }

    .container__4{
        height: 60vh;
        background-color: rgba(pink, 0.2);
    }

    .container__5{
        height: 400px;
        background-color: rgba(red, 0.2);
    }

    .container__6{
        height: 80vh;
    }
}