<div class="container">

    <section class="section__header">
        <stfy-home-header></stfy-home-header>
    </section>

    <section class="section__3">
        texto titulo grande e descrição
    </section>

    <section class="section__quality">
        <stfy-home-quality></stfy-home-quality>
    </section>

    <section class="section__parallax">
        <stfy-home-parallax></stfy-home-parallax>
    </section>

    <section class="section__tools">
        <stfy-home-tools></stfy-home-tools>
    </section>

    <section class="section__6">
        footer
    </section>

</div>