<div class="container">

    <div class="container__1">

        <div class="grid">

            <p class="title">
                storagify, the storage superset
            </p>

            <p class="subtitle">
                Increase productivity with a simple to-do app. app for managing your personal budgets.
            </p>

            <div class="options">

                <button>
                    a
                </button>

                <button>
                    b
                </button>

            </div>

        </div>

    </div>

    <div class="container__2">

        . . .

        . . .

    </div>

    <div class="container__3">

        parallax

    </div>

    <div class="container__4">

        tttttttttttttt

    </div>


    <div class="container__5">

        logos npm yarn js github etc

    </div>


    <div class="container__6">

        footer

    </div>

</div>