@import 'src/assets/styles/variables.scss';

.container{

    .section__header{
        height: calc(100vh - 85px);
    }

    .section__quality{ 
        background-color: rgba(#fafafa, 0.2);
    }

    .section__3{
        height: 60vh;
        background-color: rgba(lime, 0.2);
    }

    .section__tools{
        height: 300px;
    }

    .section__parallax{
        height: 350px;
    }

    .section__6{
        height: 80vh;
    }
}