<div class="intro">

    <p class="intro__title">
        Your personal storage administrator
    </p>

    <p class="intro__description">
        The web expands every day, and with it the number of sites and users worldwide. Storagify creates a simple
        protection against users and streamlines the web development process by creating storage management functions.
        When using storagify, in addition to being able to list your storage keys and know when a value was
        created, you will have access to rewritten native functions that make your life easier and make your code more
        beautiful. Never JSON.parse() again, <a> install now </a> or <a> read the initial documentation </a>.
    </p>

</div>