@import 'src/assets/styles/variables.scss';

.intro{
    padding: 0 5%;

    .intro__title{
        font-size: 25px;
        margin-top: 10px;
        letter-spacing: 3px;    
        font-family: Poppins, sans-serif;
        font-weight: 400;
        background: linear-gradient(to right, $darken, $dark ,$medium, $light, $lighten);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: 400% 100%;
        animation: rainbow_animation 3500ms ease-in-out infinite alternate;
        @at-root{
            @keyframes rainbow_animation {
                0% {background-position: 0 0}
                100% {background-position: 100% 0}
            }  
        }
    }

    .intro__description{
        box-sizing: border-box;
        width: 100%;
        color: #777777;
        line-height: 1.4;
        font-size: 15px;
        font-family: Poppins, sans-serif;
        font-weight: 400;
    
        a{
            font-family: 'Nunito', sans-serif;
            text-decoration: none;
            font-weight: 700;
            color: $medium;
        }
    }

}