<div class="quality">

    <div class="quality__item">
        <div class="item__bg"> </div>
        <div class="item__image">
            <img src="../../../../assets/svg/quality-privacy.svg" alt="Privacy image description">
        </div>
        <div class="item__title"> No more curious people </div>
        <div class="item__description">
            With fully protected public storage you get away with curious users who can edit things on browser
        </div>
    </div>

    <div class="quality__item">
        <div class="item__bg"></div>
        <div class="item__image">
            <img src="../../../../assets/svg/quality-magic.svg" alt="Magic image description">
        </div>
        <div class="item__title"> We do all the magic </div>
        <div class="item__description">
            In addition to protecting your public storage we automatically convert all objects for you
        </div>
    </div>

    <div class="quality__item">
        <div class="item__bg"> </div>
        <div class="item__image">
            <img src="../../../../assets/svg/quality-integration.svg" alt="Integration image description">
        </div>
        <div class="item__title"> Choose your return </div>
        <div class="item__description">
            Easy integration with older systems with development, debug and stringfy options
        </div>
    </div>

    <div class="quality__item">
        <div class="item__bg"></div>
        <div class="item__image">
            <img src="../../../../assets/svg/quality-cdn.svg" alt="Cdn image description">
        </div>
        <div class="item__title"> Easy and fast link </div>
        <div class="item__description">
            Download the minified library <br> by clicking <a
                href="https://raw.githubusercontent.com/notelho/storagify/master/build/cdn/storagify.min.js"
                target=”_blank”> HERE </a>
        </div>
    </div>

    <div class="quality__item">
        <div class="item__bg"> </div>
        <div class="item__image">
            <img src="../../../../assets/svg/quality-umd.svg" alt="Umd image description">
        </div>
        <div class="item__title"> UMD Integration </div>
        <div class="item__description">
            Use module resources with requirejs or browserify to integrate the library.
        </div>
    </div>

    <div class="quality__item">
        <div class="item__bg"> </div>
        <div class="item__image">
            <img src="../../../../assets/svg/quality-utilities.svg" alt="Utilities image description">
        </div>
        <div class="item__title"> Facilities and Utilities </div>
        <div class="item__description">
            Easily develop tools by having native native listing methods and object creation timestamp
        </div>
    </div>

</div>