@import 'src/assets/styles/variables.scss';

.quality{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(#fafafa, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    padding: 10% 20%;
    grid-gap: 10px 10px;

    .quality__item{
        background-color: yellow;
        display: flex;  
    }
    
}