@import 'src/assets/styles/variables.scss';

.quality{
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    padding: 5% calc(5% + 100px);
    grid-gap: 40px 10px;
    background-color: rgba(#fafafa, 0.2);

    .quality__item{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;

        & > *:not(.item__bg){
            z-index: 2;
        }

        .item__title{
            font-size: 20px;
            height: 60px;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
            letter-spacing: 3px;
            font-family: Poppins, sans-serif;
            font-weight: 400;
            background: linear-gradient(to right, $darken, $dark ,$medium, $light, $lighten);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            background-size: 400% 100%;
            animation: rainbow_animation 3500ms ease-in-out infinite alternate;
            @at-root{
                @keyframes rainbow_animation {
                    0% {background-position: 0 0}
                    100% {background-position: 100% 0}
                }  
            }
        }

        .item__bg{
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fafafa;
            clip-path: circle(100px at 50% 50%);
            z-index: 0;
        }

        .item__image{
            height: 120px;
            img{
                width: auto; 
                height: 100px;
            }
        }

        .item__description{
            box-sizing: border-box;
            width: 100%;
            text-align: center;
            padding: 0 5%;
            color: #999999;
            line-height: 1.4;
            font-size: 14px;
            font-family: Poppins, sans-serif;
            font-weight: 400;

            a{
                font-family: 'Nunito', sans-serif;
                text-decoration: none;
                font-weight: 700;
                color: $medium;
            }
        }
    }
}