<div class="quality">

    <div class="quality__item">
        magic
        https://www.flaticon.com/free-icon/witch-hat_2155395?term=hat&page=1&position=63
    </div>

    <div class="quality__item">
        cdn
        https://www.flaticon.com/free-icon/module_1832071?term=module&page=1&position=20
    </div>

    <div class="quality__item">
        UMD
        https://www.flaticon.com/free-icon/modules_1042350?term=module&page=1&position=5
        https://www.flaticon.com/free-icon/folders_2206433
    </div>

    <div class="quality__item">
        privacy
        https://www.flaticon.com/free-icon/privacy_2433577?term=encryption&page=1&position=25
        https://www.flaticon.com/free-icon/secure_908193?term=encryption&page=1&position=72
    </div>

    <div class="quality__item">
        utilidades
        https://www.flaticon.com/free-icon/system-update_1632666?term=cog&page=1&position=6
        https://www.flaticon.com/free-icon/team-work_2206392
    </div>

    <div class="quality__item">
        integração
        https://www.flaticon.com/free-icon/idea_2206500
        https://www.flaticon.com/free-icon/goals_2206406
    </div>

</div>