@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,800&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

*{
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}