@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap';
@import './assets/styles/variables.scss';

html {
    background-color: #fafafa;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    *::-moz-selection{
        background: $light;
    }

    *::selection{
        background: $light;
    }

    &::-webkit-scrollbar{
        width: 7px;
        height: 7px;
        background-color: #f7f7f7;
    }

    &::-webkit-scrollbar-thumb{
        background: $medium; 
    }

    &::-webkit-scrollbar-thumb:hover{
        background: $light; 
    }
}

*{
    font-family: 'Nunito', sans-serif;
}