<nav class="navbar {{scrollClass}}">

    <div class="navbar__logo">
        <a href="#">
            <img src="../../../assets/svg/storagify-white.svg" alt="Storagify white logo">
        </a>
    </div>

    <ul class="nav__options">
        <li class="nav__item">
            <a class="nav__link" href="#">
                Home
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#">
                Docs
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="#">
                Github
            </a>
        </li>
    </ul>

</nav>

<main class="wrapper {{scrollClass}}">
    <router-outlet></router-outlet>
</main>